body {
	background-color: white;
	overflow: hidden;
	width: 100vw;
}

button {
	width: 20em;
	height: 4em;
}

.page {
	display: block;
	position: absolute;
	top: 10em;
	left: 30em;
	box-shadow: 0px 0px 2px black;
	padding: 1em 1em 4em 1em;
	background-color: white;
}

.polaroid {
	width: 20em;
	height: 20em;
}

.polaroidShadow {
	width: 20em;
	height: 20em;
	box-shadow: 0px 0px 1.5px black inset;
	position: absolute;
	top: 1em;
	left: 1em;
}

.slideIn {
	animation: slideIn;
	animation-duration: 0.5s;
}
.slideOut {
	animation: slideOut;
	animation-duration: 0.5s;
}

@keyframes slideIn {
	0% {;
		left: 30em;
	}

	100% {
		left: 60em;
	}
}

@keyframes slideOut {
	0% {;
		left: 60em;
	}

	100% {
		left: 30em;
	}
}
