body {
	font-family: "Poppins", serif;
	background-color: white;
	/*overflow: hidden;*/
}

#next {
	width: 8em;
	height: 2em;
	display: block;
	border: 0.1em solid black;
	border-radius: 0.5em;
	background-color: lightgrey;
}

.buttext {
	margin: 0;
}

.page {
	display: block;
	position: absolute;
	top: 20em;
	left: 5em;
	box-shadow: 0px 0px 2px black;
	padding: 1em 1em 4em 1em;
	background-color: white;
}

.polaroid {
	width: 20em;
	height: 20em;
	user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.polaroidShadow {
	width: 20em;
	height: 20em;
	box-shadow: 0px 0px 1.5px black inset;
	position: absolute;
	top: 1em;
	left: 1em;
}

.slideIn {
	animation: slideIn;
	animation-duration: 0.5s;
}
.slideOut {
	animation: slideOut;
	animation-duration: 0.5s;
}

@keyframes slideIn {
	0% {;
		left: 5em;
	}

	100% {
		left: 35em;
	}
}

@keyframes slideOut {
	0% {;
		left: 35em;
	}

	100% {
		left: 5em;
	}
}